<div layoutH="200" width="80%" style="margin: 30px auto;">
	<table class="table list" width="100%">
		<!-- <caption class=""><h3>Animal Management</h3></caption> -->
		<thead>
			<tr>
				<th colspan="1" rowspan="1">name</th>
				<th colspan="1" rowspan="1">age</th>
				<th colspan="1" rowspan="1">sex</th>
				<th colspan="1" rowspan="1">favorite</th>
			</tr>
		</thead>
		<tbody id="newData">
		<script type="text/x-jsrender" id="animalTemplate">
			<tr>
				<td colspan="1" rowspan="1">{{:name}}</td>
				<td colspan="1" rowspan="1">{{:age}}</td>
				<td colspan="1" rowspan="1">{{:sex}}</td>
				<td colspan="1" rowspan="1">{{:favorite}}</td>
			</tr>
		</script>
		</tbody>
	</table>
</div>
<script type="text/javascript">
	var animal = [
			{name:"giraffe",age:"5 month",sex:"female",favorite:"leaves"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
			{name:"elephant",age:"12 month",sex:"male",favorite:"grass"}
			];
	$(function(){
		var data = $("#animalTemplate").render(animal);
		$("#newData").append(data);
	})

</script>