
<!-- 本页的CSS样式 -->
<style type="text/css">
	.selected_oi {
		background-color: #E6EEEF!important;
	}
	
	#rendrTable_entryinid table tbody tr td input {
		-moz-user-select: none;
		-webkit-user-select: none
	}
	
	.entryinid_th {
		color: #000;
		font-weight: bold;
		padding-bottom: 5px;
		padding-top: 5px;
		text-align: center;
		background-color: #99ccff;
		border: 1px solid #c0c0c0!important;
		height: 24px;
		line-height: 24px;
	}
	
	.entryinid_td {
		border: 1px solid #C0C0C0;
		text-align: center;
		height: 24px;
		line-height: 24px;
	}
	
	.disable {
		width: 100%;
		cursor: pointer;
		border: none !important;
		background: none !important;
		margin-left: -3px!important;
		text-align: center;
		height: 100%;
		outline: none;
	}
	
	.disableView {
		cursor: pointer;
		border: none;
		background: none;
		width: 120px;
		color: red;
	}
	
	.viewBox {
		display: inline-block;
		height: 22px;
		margin-left: 20px;
		margin-top: 0px;
	}
	
	.viewBox label {
		line-height: 26px;
	}
	
	.borde {
		float: left;
		height: 8px;
		display: inline-block;
		margin: 7px auto auto 10px;
		border: 0.1px solid #D8D8D8;
	}
	
	.headbutton {
		float: left;
		background: none;
		display: inline-block;
		margin: auto 15px auto 15px;
		height: 26px;
		overflow: hidden;
	}
	
	.headbutton span {
		background: none;
		height: 26px;
		display: inline-block;
		margin-left: 5px;
	}
	
	.headbutton:hover {
		background: url(themes/default/images/button/button_s.png) no-repeat 0 -100px;
	}
	
	.headbutton:hover span {
		background: url(themes/default/images/button/button_s.png) no-repeat 100% -150px;
		;
	}
	
	.nav1 {
		display: inline-block;
		height: 21px;
		line-height: 26px;
		font-style: normal;
		display: inline-block;
		padding-right: 5px;
	}
</style>

<div class="pageHeader" style="overflow: hidden;">
	<a class="headbutton" id="save_entryinid"><span><i class="nav1" style="background: url(public/dwz2/alllicon.png) no-repeat 0px 4px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;提交</i></span></a>
	<div class="borde"></div>
	<div class="viewBox"><label>选中项内容：</label><input type="text" disabled="disabled" value="" id="tdView_entryinid" class="disableView" /></div>
</div>

<!-- 渲染一个表格 -->
<div class="pageContent tableShowData" id="rendrTable_entryinid" layoutH="200" style="width:90%;margin: 30px auto;">
	<script id="tableTemplate" type="text/x-jsrender">
		<table class="table" width="100%" style="border: 1px solid gray;" >
		<!-- <caption class="text-center">销售日报表</caption> -->
			<thead class="fixhead">
				{{for data2[0].tr}}
					<td class="entryinid_th">{{:value}}</td>
				{{/for}}
			</thead>
			<tbody>
				{{for data2}}
					{{if #getIndex()}}
						<tr name="{{:#getIndex()}}">
							{{for tr}}
								{{if dataType == 0}}
									<td name="{{:#getIndex()}}" class="entryinid_td" style="background-color:#ccffff;" onclick="disableEdit($(this))">
										{{:value}}
									</td>
								{{else}}
									<td name="{{:#getIndex()}}" class="entryinid_td" style="background-color:#ffffff;" onclick="edit_data($(this))" onmousemove="deal_mousemove($(this),'rendrTable_entryinid')">
										<input type="text" class="disable" value="{{:value}}" onblur="blurset_entryinid($(this))" />
									</td>
								{{/if}}
							{{/for}}
						</tr>
					{{/if}}
				{{/for}}
			</tbody>
		<!-- 	{{for data2}}
				<tr name="{{:#index+1}}">
					{{for tr}}
						<td class="entryinid_th"  name="{{:#getIndex()}}">
							<input type="text" name="" value="{{:value}}">
							<span>{{:value}}</span>
						</td>
					{{/for}}
				</tr>
			{{/for}} -->
		</table>
	</script>
</div>


<script type="text/javascript">
		flag_enter_XSRBQC = false;
		type_XSRBQC = 111;
		down_XSRBQC = 0; //光标下移
		up_XSRBQC = 1; //光标上移
		right_XSRBQC = 2; //光标右移
		left_XSRBQC = 3; //光标左移
	
		$(document).ready(function(){

		//表格数据渲染：渲染到目标地址中
		var addData = $("#tableTemplate").render(data2);
		$(".tableShowData").append(addData);
		// $(".tableShowData").html(addData);


		});

		//disableEdit($(this))函数，dataType==0时，不能进行数据的编辑
		function disableEdit(obj){
			$("#tdView_entryinid").val(obj.text().replace(/\s*/,""));
		}


		//selectedIput_XSRBQC选中哪个编辑的input框，就增加这个类：表示当前所选中的元素
		function edit_data(obj){
			$("#tdView_entryinid").val(obj.children().val());
			obj.children().select();
			if(obj.children().val() == 0){
				obj.children().val("");
			}
			obj.children().addClass("selectedIput_XSRBQC");
			if($(".selectedIput_XSRBQC").length > 1){
				$(".selectedIput_XSRBQC").each(function(){
					$(this).removeClass("selectedIput_XSRBQC");
				});
				obj.children().addClass("selectedIput_XSRBQC");
			}
			obj.css("border","2px solid black");
		}
		//deal_mousemove事件
		var showData = $("#rendrTable_entryinid");
		function deal_mousemove(obj,showData){
			// alert("test");
		}

		function blurset_entryinid(obj){
			var min_col;
			var min_row;
			obj.parent().css({
				"border":"none",
				"border-right":"1px solid #c0c0c0",
				"border-bottom":"1px solid #c0c0c0"
			});
			if(!obj.val()){
				obj.val(0);
				// alert(obj.val(0));
				return false;
			}
			var int_replace_res = obj.val().replace(/^-?[1-9]\d*|0$/,"");
			if(int_replace_res){
				var float_replace_res = obj.val().replace(/^-?([1-9]\d*\.\d*|0\.\d*[1-9]\d*|0?\.0+|0)$/,"");
				if(float_replace_res){
					obj.addClass("errorDataEntryinid");
					obj.parent().css("border","2px solid #000");
					return;
				}
			}
			obj.removeClass("errorDataEntryinid");
			//obj为当前的input框
			var rowcode = parseInt(obj.parent().parent().attr("name"));//获取getIndex()当前的值tr
			var colcode = parseInt(obj.parent().attr("name"));//获取getIndex()当前的值td
			console.log(rowcode+"   "+colcode);
			data2.data2[rowcode].tr[colcode].value = parseFloat(obj.val());
			// var test = data2.data2[rowcode].tr[colcode];
			// 	test.value = parseFloat(obj.val());//语句问题
			
			min_row_XSRBQC = 1;//min_row_XSRBQC不知道是什么
			//查找下一行开始的第一个单元格
			var flag = 0;
			var now_col = colcode;
			obj.removeClass("selectedIput_XSRBQC");
			if(flag_enter_XSRBQC){
				if(type_XSRBQC == down_XSRBQC){
					flag_enter_XSRBQC = false;
					for (var findin=rowcode+1; findin < data2.data2.length; findin++) {
						//查找下一行开始的可编辑单元
						var chaxun = data2.data2[findin].tr.length-data2.data2[findin-1].tr.length;
						now_col = now_col+chaxun;
						if ($("#rendrTable_entryinid table tbody").children("tr[name="+findin+"]").children("td[name="+now_col+"]").children("input").length > 0) {
							flag = 1;
							$("#rendrTable_entryinid table tbody").children("tr[name="+findin+"]").children("td[name="+now_col+"]").trigger("click");//触发input元素的指定事件类型
							return true;

						}
					}   //end for findin 

					if(!flag){
						var flagcol = 0;
						for (var  findcol = colcode;findcol <= data2.data2[min_row_XSRBQC].tr.length; findcol++) {
							var temp = findcol+1;
							if ($("#rendrTable_entryinid table tbody").children("tr[name="+min_row_XSRBQC+"]").children("td[name="+temp+"]").children("input").length > 0) {
								flag = 1;
								$("#rendrTable_entryinid table tbody").children("tr[name="+min_row_XSRBQC+"]").children("td[name="+temp+"]").trigger("click");//触发input元素的指定事件类型
								return true;
							}
						}
						if(!flagcol) { //没有找到从现在开始的下一列，就去第一行第一列
							for(var findcol = 0; findcol < data2.data2[min_row_XSRBQC].tr.length; findcol++) {
								if($("#rendrTable_entryinid table tbody").children("tr[name=" + min_row_XSRBQC + "]").children("td[name=" + findcol + "]").children("input").length > 0) {
									$("#rendrTable_entryinid table tbody").children("tr[name=" + min_row_XSRBQC + "]").children("td[name=" + findcol + "]").trigger("click");
									return true;
								}
							}
						}
					}   //end if !flag
				}  //end if type_XSRBQC == down_XSRBQC
				//if dowm
				else if(type_XSRBQC == up_XSRBQC){
					flag_enter_XSRBQC = false;
					for(var findin = rowcode - 1; findin >= min_row_XSRBQC; findin--) { //从下往上查找上一行开始的第一个可编辑单元格
						var chaxun = data2.data2[findin].tr.length - data2.data2[findin + 1].tr.length;
						now_col = now_col + chaxun;
						if($("#rendrTable_entryinid table tbody").children("tr[name=" + findin + "]").children("td[name=" + now_col + "]").children("input").length > 0) {
							flag = 1;
							$("#rendrTable_entryinid table tbody").children("tr[name=" + findin + "]").children("td[name=" + now_col + "]").trigger("click");
							return true;
						}
					}

					if(!flag) { //不存在可编辑的上一行了,就去上一列的可编辑的最后一行（下面简称第一行）
						var flagcol = 0;
						var max_row_XSRBQC;
						//查找最大可编辑行
						for(var i = data2.data2.length - 1; i >= min_row_XSRBQC; i--) { //从下往上查找
							for(var j = 0; j < data2.data2[i].tr.length; j++) { //从左往右查找
								if($("#rendrTable_entryinid table tbody").children("tr[name=" + i + "]").children("td[name=" + j + "]").children("input").length > 0) {
									//该行存在可编辑
									max_row_XSRBQC = i;
									break;
								}
							}
							if(max_row_XSRBQC) {
								break;
							}
						}
						//在最后一个行查找可编辑的上一列，直到存在可编辑
						for(var findcol = colcode - 1; findcol > 0; findcol--) {
							if($("#rendrTable_entryinid table tbody").children("tr[name=" + max_row_XSRBQC + "]").children("td[name=" + findcol + "]").children("input").length > 0) {
								flagcol = 1;
								$("#rendrTable_entryinid table tbody").children("tr[name=" + max_row_XSRBQC + "]").children("td[name=" + findcol + "]").trigger("click");
								return true;
							}
						}
						if(!flagcol) { //没有找到从现在开始的下一列，就去第最后行第最后一列
							for(var findcol = data2.data2[max_row_XSRBQC].tr.length - 1; findcol > 0; findcol--) {
								if($("#rendrTable_entryinid table tbody").children("tr[name=" + max_row_XSRBQC + "]").children("td[name=" + findcol + "]").children("input").length > 0) {
									$("#rendrTable_entryinid table tbody").children("tr[name=" + max_row_XSRBQC + "]").children("td[name=" + findcol + "]").trigger("click");
									return true;
								}
							}
						}
					} //if flag
				} // if up
				else if(type_XSRBQC == right_XSRBQC){//键向右移动
					flag_enter_XSRBQC = false;
					for(var findcol = colcode + 1; findcol <= data2.data2[rowcode].tr.length; findcol++) {
						//从左往右查找下一列开始的第一个可编辑单元格
						if($("#rendrTable_entryinid table tbody").children("tr[name=" + rowcode + "]").children("td[name=" + findcol + "]").children("input").length > 0) {
							flag = 1;
							$("#rendrTable_entryinid table tbody").children("tr[name=" + rowcode + "]").children("td[name=" + findcol + "]").trigger("click");
							return true;
						}
					}
					if(!flag) { //在本行未找到，从下一行的第一列开始查找
						var flagcol = 0;
						for(var findin = rowcode + 1; findin < data2.data2.length; findin++) {
							//从上往下查找
							for(var findcol = 0; findcol < data2.data2[findin].tr.length; findcol++) {
								if($("#rendrTable_entryinid table tbody").children("tr[name=" + findin + "]").children("td[name=" + findcol + "]").children("input").length > 0) {
									flagcol = 1;
									$("#rendrTable_entryinid table tbody").children("tr[name=" + findin + "]").children("td[name=" + findcol + "]").trigger("click");
									return true;
								}
							}
						}
						if(!flagcol) { //在下面的数据行里已经没有可编辑，跳到左上角的第一个可编辑框
							for(var find = 0; find < data2.data2[min_row_XSRBQC].tr.length; find++) {
								if($("#rendrTable_entryinid table tbody").children("tr[name=" + min_row_XSRBQC + "]").children("td[name=" + find + "]").children("input").length > 0) {
									$("#rendrTable_entryinid table tbody").children("tr[name=" + min_row_XSRBQC + "]").children("td[name=" + find + "]").trigger("click");
									return true;
								}
							}
						}
					} // flag
				} // end for right
				else if(type_XSRBQC == left_XSRBQC){//向左移动
					flag_enter_XSRBQC = false;
					for(var leftcol = colcode - 1; leftcol >= 0; leftcol--) {
						//从右往左查找下一列开始的第一个可编辑单元格
						if($("#rendrTable_entryinid table tbody").children("tr[name=" + rowcode + "]").children("td[name=" + leftcol + "]").children("input").length > 0) {
							flag = 1;
							$("#rendrTable_entryinid table tbody").children("tr[name=" + rowcode + "]").children("td[name=" + leftcol + "]").trigger("click");
							return true;
						}
						if(!flag) { //在本行未找到，从上一行的最后列开始查找
							var flagcol = 0;
							for(var findin = rowcode - 1; findin >= min_row_XSRBQC; findin--) {
								//从下往上查找
								for(var findcol = data2.data2[findin].tr.length - 1; findcol > 0; findcol--) {
									if($("#rendrTable_entryinid table tbody").children("tr[name=" + findin + "]").children("td[name=" + findcol + "]").children("input").length > 0) {
										flagcol = 1;
										$("#rendrTable_entryinid table tbody").children("tr[name=" + findin + "]").children("td[name=" + findcol + "]").trigger("click");
										return true;
									}
								}
							}
							if(!flagcol) { //在上面的数据行里已经没有可编辑，跳到右下角的最后可编辑框
								var max_row_XSRBQC;
								//查找最大可编辑行
								for(var i = data2.data2.length - 1; i >= min_row_XSRBQC; i--) { //从下往上查找
									for(var j = 0; j < data2.data2[i].tr.length; j++) { //从左往右查找
										if($("#rendrTable_entryinid table tbody").children("tr[name=" + i + "]").children("td[name=" + j + "]").children("input").length > 0) {
											//该行存在可编辑
											max_row_XSRBQC = i;
											break;
										}
									}
									if(max_row_XSRBQC) {
										break;
									}
								}
								for(var findleft = data2.data2[max_row_XSRBQC].tr.length - 1; findleft > 0; findleft--) {
									if($("#rendrTable_entryinid table tbody").children("tr[name=" + max_row_XSRBQC + "]").children("td[name=" + findleft + "]").children("input").length > 0) {
										$("#rendrTable_entryinid table tbody").children("tr[name=" + max_row_XSRBQC + "]").children("td[name=" + findleft + "]").trigger("click");
										return true;
									}
								}
							}
						} // flag
					} // end left
				}
				else {
					flag_enter_XSRBQC = false;
				}
			}
		} //end for blurset_entryinid	
</script>