选项卡面板：
<div class="pageContent">
	<div class="tabs" currentindex="1" eventType="click">
		<div class="tabsHeader">
			<div class="tabsHeaderContent">
				<ul>
					<li class="selected"><a href="#"><span>标题1</span></a></li>
					<li><a href="#"><span>标题2</span></a></li>
					<li><a href="chart/test/linechart.html" class="j-ajax"><span>标题3</span></a></li>
					<li><a href="chart/test/linechart2.html" class="j-ajax"><span>标题4</span></a></li>
					<li><a href="chart/test/piechart.html" class="j-ajax"><span>标题5</span></a></li>
				</ul>
			</div>
		</div>

		<div class="tabsContent" style="height: 700px;">
			<div>content1</div>
			<div>content2</div>
			<div></div>
			<div></div>
			<div></div>
		</div>

		<div class="tabsFooter">
			
		</div>
	</div>
</div>