<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>table</title>

	<script src="../../js/jquery-1.11.3.min.js"></script>
	<script src="../../bin/jsrender.js"></script>

</head>
<body>
	<table class="table table-bordered table-hover">
		<caption class="text-center"><h3>Animal Management</h3></caption>
		<thead>
			<tr>
				<th>name</th>
				<th>age</th>
				<th>sex</th>
				<th>favorite</th>
			</tr>
		</thead>
		<tbody id="newData">
		<script type="text/x-jsrender" id="animalTemplate">
			<tr>
				<td>{{:name}}</td>
				<td>{{:age}}</td>
				<td>{{:sex}}</td>
				<td>{{:favorite}}</td>
			</tr>
		</script>
		</tbody>
	</table>
	<script type="text/javascript">
		var animal = [
				{name:"giraffe",age:"5 month",sex:"female",favorite:"leaves"},
				{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
				{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
				{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
				{name:"elephant",age:"12 month",sex:"male",favorite:"grass"},
				{name:"elephant",age:"12 month",sex:"male",favorite:"grass"}
				];
		$(function(){
			var data = $("#animalTemplate").render(animal);
			$("#newData").append(data);
		});

	</script>
</body>
</html>