<a href="doc/dwz-team.xls" target="dwzExport" targetType="dialog" title="实要导出这些记录吗?">导出EXCEL</a>

<input name="xxx" alt="请输入客户名称"/>

<ul class="tree [treeFolder treeCheck [expand|collapse]]" oncheck="kkk">

<li><a href="#" target="navTab" rel="main" tname="name" tvalue="value" checked="true">第一级菜单项 A</a>

            <ul>

                  <li><a href="#" target="dialog" rel="dialog1" tname="name" tvalue="value" checked="true">第二级菜单项 A </a></li>

                  <li><a href="#">第二级菜单项 B </a></li>

                  <li><a href="#">第二级菜单项 C </a>

                        <ul>

                              <li><a href="#">第三级菜单项 A </a></li>

                              <li><a href="#">第三级菜单项 B </a></li>

                        </ul>

                  </li>

            </ul>

      </li>

      <li><a href="#">第一级菜单项 B</a></li>

</ul>

<div class="panel [close collapse]" [defH="200"|minH=”100”]>

<h1>标题</h1>

      <div>

            内容

      </div>

</div>


<form id="pagerForm" action="xxx" method="post">

      <input type="hidden" name="pageNum" value="1" /><!--【必须】value=1可以写死-->

      <input type="hidden" name="numPerPage" value="20" /><!--【可选】每页显示多少条-->

      <input type="hidden" name="orderField" value="xxx" /><!--【可选】查询排序-->

      <!--【可选】其它查询条件，业务有关，有什么查询条件就加什么参数-->

      <input type="hidden" name="status" value="active" />

</form>

<form action="xxx" method="post" onsubmit="return dialogSearch(this)">


