<a class="delete" href="__URL__/foreverdelete/id/{sid_user}/navTabId/__MODULE__" target="ajaxTodo" title="你确定要删除吗？" warn="请选择用户"><span>删除</span></a>

 

<a class="edit" href="__URL__/edit/id/{sid_user}" target="dialog" mask="true" warn="请选择用户"><span>编辑</span></a>

 

<a class="icon" href="__URL__/password/id/{sid_user}" target="dialog" mask="true" warn="请选择用户"><span>修改密码</span></a>

 

<table class="list" width="100%" layoutH="116">

      <thead>

      <tr>

            <th width="60">编号</th>

            <th width="100">用户名</th>

            <th>昵称</th>

            <th>Email</th>

            <th width="100">添加时间</th>

            <th width="120">上次登录</th>

            <th width="80">登录次数</th>

            <th width="80">状态</th>

      </tr>

      </thead>

      <tbody>

      <volist id="vo" name="list">

            <tr target="sid_user" rel="{$vo['id']}">

                  <td>{$vo['id']}</td>

                  <td>{$vo['account']}</td>

                  <td>{$vo['nickname']}</td>

                  <td>{$vo['email']}</td>

                  <td>{$vo['create_time']|date="Y-m-d",###}</td>

                  <td>{$vo['last_login_time']|date="Y-m-d H:i:s",###}</td>

                  <td>{$vo['login_count']}</td>

                  <td>{$vo['status']|showStatus=$vo['id']}</td>

            </tr>

      </volist>

      </tbody>

</table>


<select class="combox" name="province" ref="combox_city" refUrl="city.do?code={value}">

      <option value="all">所有省市</option>

      <option value="bj">北京</option>

      <option value="sh">上海</option>

</select>

<select class="combox" name="city" id="combox_city" ref="combox_area" refUrl=" area.do?code={value}">

      <option value="all">所有城市</option>

</select>

<select class="combox" name="area" id="combox_area">

      <option value="all">所有区县</option>

</select>

<button type="button" multLookup="orgId" warn="请选择部门">选择带回</button>

 

<input type="checkbox" name="orgId" value="{id:'1', orgName:'技术部', orgNum:'1001'}"/>

<input type="checkbox" name="orgId" value="{id:'2', orgName:'人事部', orgNum:'1002'}"/>

<input type="checkbox" name="orgId" value="{id:'3', orgName:'销售部', orgNum:'1003'}"/>


<table class="list nowrap itemDetail" addButton="新建从表1条目" width="100%">

<thead>

<tr>

      <th type="text" name="items.itemString" size="12" fieldClass="required">从字符串</th>

      <th type="text" name="items.itemInt" size="12" fieldClass="digits">从整数</th>

      <th type="text" name="items.itemFloat" size="12" fieldClass="number">从浮点</th>

      <th type="date" name="items.itemDate" size="12">从日期</th>

      <th type="date" format="yyyy-MM-dd HH:mm:ss" name="items.itemDataTime" size="16">从日期时间</th>

      <th type="lookup" name="dwz.items.org.orgName" lookupGroup="items.org" lookupUrl="xxxUrl" suggestUrl="xxxUrl" suggestFields="orgName" size="12">部门名称</th>

      <th type="enum" name="items.itemEnum" enumUrl="xxxUrl" size="12">从枚举</th>

      <th type="attach" name="dwz.items.attachment.fileName" lookupGroup="items.attachment" lookupUrl="xxxUrl" size="12">从附件</th>

      <th type="del" width="60">操作</th>

</tr>

</thead>

<tbody></tbody>

</table>

<select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">

      <option value="20">20</option>

      <option value="50">50</option>

      <option value="100">100</option>

      <option value="200">200</option>

</select>

 



 



