<div class="pageHeader">

      <form action="/render.do?method=search" method="post" onsubmit="return navTabSearch(this)">

      <input type="hidden" name="resourceStatus" value="${param.resourceStatus}"/>

      <input type="hidden" name="pageNum" value="1" />

      <input type="hidden" name="orderField" value="${param.orderField}" />

      <div class="searchBar">

            <div class="searchContent">

                  <select name="resourceType">

                        <option value="">全部栏目</option>

                        <c:forEach var="item" items="${model.resourceTypes}">

                        <option value="${item.id}" ${param.resourceType eq item.id?"selected":"" }>${item.name}</option>

                        </c:forEach>

                  </select>

                  <input name="keywords" type="text" size="25" value="${param.keywords}"/>

            </div>

            <div class="subBar">

                  <ul>

                        <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>

                  </ul>

            </div>

      </div>

      </form>

</div>

<form method="post" action="url" class="pageForm required-validate" onsubmit="return validateCallback(this);">

<div class="pageFormContent" layoutH="56">

      <p>

            <label>E-Mail：</label>

            <input class="required email" name="email" type="text" size="30" />

      </p>

      <p>

            <label>客户名称：</label>

            <input class="required" name="name" type="text" size="30" />

      </p>

</div>

<div class="formBar">

      <ul>

            <li>

                  <div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>

            </li>

            <li>

                  <div class="button"><div class="buttonContent"><button type="Button" class="close">取消</button></div></div>

            </li>

      </ul>

</div>

</form>

<form method="post" action="url" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this);">
<form method="post" action="url" class="pageForm required-validate" enctype="multipart/form-data" onsubmit="return iframeCallback(this, [navTabAjaxDone/dialogAjaxDone]);">

<script type="text/javascript">
      var statusCode="200";

      var message="操作成功";

      var navTabId="";

      var forwardUrl=""; 

      var callbackType="closeCurrent"
      
      var response = {statusCode:statusCode,

            message:message,

            navTabId:navTabId,

            forwardUrl:forwardUrl,

            callbackType:callbackType

      };

      if(window.parent.donecallback) window.parent.donecallback(response);


</script>
