Panel扩展
<style type="text/css">
	.panel div{
		line-height: 22px;
	}
</style>
<div layoutH="0">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="panel collapse" defH="120">
				<h1>面板扩展</h1>
				<div>
					<div>顶层div 以class=”panel”标识即可, 其中的h1为panel的标题,  后的则是放置内容的容器.</div>
					<div>close 与collapse为可选项, close表示panel默认为关闭状态, 没有则默认为打开状态.</div>
					
				</div>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="panel collapse" minH="120">
				<h1>right</h1>
				<div>
					<div> collapse 再表示此panel是否为可折叠的panel, 没有则此panel不可折叠</div>
					<div>属性defH则表示panel 内容部分的固定高度, 没有则panel内容部分的高度为实际内容的高度,</div>
					<div>minH可以指定panel内容部分的最小高度.</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-3 col-sm-12" style="border: 1px solid blue;">3
		</div>
		<div class="col-md-3 col-sm-12" style="border: 1px solid blue;">3
		</div>
		<div class="col-md-4 col-sm-12" style="border: 1px solid blue;">4
		</div>
		<div class="col-md-2 col-sm-12" style="border: 1px solid blue;">2
		</div>
	</div>
</div>

<script type="text/javascript">
	// $(function(){
		alertMsg.confirm("您修改的资料未保存，请选择保存或取消！",{okCall:function(){
			$.post(url, {accountId: accountId}, DWZ.ajaxDone, "json");
		}});
	// })(jQuery);
		alertMsg.correct('您的数据提交成功！')

        alertMsg.error('您提交的数据有误，请检查后重新提交！')
		
		alertMsg.warn('您提交的数据有误，请检查后重新提交！')

		alertMsg.info('您提交的数据有误，请检查后重新提交！')


</script>