<!-- <form id="pagerForm" action="" method="post"> -->

      <!-- <input type="hidden" name="pageNum" value="1" />/>【必须】value=1可以写死 -->

      <!-- <input type="hidden" name="numPerPage" value="20" /><!【可选】每页显示多少条 -->

      <!-- <input type="hidden" name="orderField" value="" /><!【可选】查询排序 

      <!<input type="hidden" name="orderDirection" value="asc" />【可选】升序降序--> 

 

      <!--【可选】其它查询条件，业务有关，有什么查询条件就加什么参数。

      也可以在searchForm上设置属性rel=”pagerForm”，js框架会自动把searchForm搜索条件复制到pagerForm中 -->
<!-- 
<input type="hidden" name="name" value="xxx" />

      <input type="hidden" name="status" value="active" />

</form>  -->
<style type="text/css">
	div{
		width: 100%;
		height: 40px;
		line-height: 40px;
		
	}
</style>
<div class="pagination" targetType="navTab" totalCount="200" numPerPage="20" pageNumShown="10" currentPage="3"></div>
<a href="/news.do?method=remove&id=${item.id}" target="ajaxTodo" title="确定要删除吗?">>删除</a>

<a href="/news.do?method=publish&id=${item.id}" target="ajaxTodo">发表</a>


