<style type="text/css">
	.inputDateButton{
		text-align: right;
	}
	p{
		margin: 20px;
	}
</style>
<p>
   <label>默认格式：</label>
   <input type="text" name="date1" class="date" />
   <a class="inputDateButton" href="#"></a>
</p>

<p>

      <label>定义年份：</label>

      <input type="text" name="date2" class="date" yearstart="-80" yearend="5"/>

      <a class="inputDateButton" href="#"></a>

</p>


<!-- <p>

      <label>自定义日期格式：</label>

      <input type="text" name="date3" class="date" pattern="yyyy/MM/dd" />

      <a class="inputDateButton" href="#"></a>

</p> -->

<p>

      <label>自定义日期格式：</label>

      <input type="text" name="date5" class="date" pattern="dd/MM/yy" />

      <a class="inputDateButton" href="#"></a>

</p>

<p>

      <label>自定义日期+时间：</label>

      <input type="text" name="date7" class="date" pattern="yyyy年MM月dd日 HH:mm:ss" />

      <a class="inputDateButton" href="#"></a>

</p>

<p>

      <label>自定义日期+时间：</label>

      <input type="text" name="date8" class="date" pattern="yyyy年MM月dd日 HH:mm" />

      <a class="inputDateButton" href="#"></a>

</p>

<p>

      <label>自定义日期+时间：</label>

      <input type="text" name="date9" class="date" pattern="y年M月d日 HH点" />

      <a class="inputDateButton" href="#"></a>

</p>


