checkbox全选、反选：
<label><input type="checkbox" name="c1" value="1" />选择1</label>

<label><input type="checkbox" name="c1" value="2" />选择2</label>

<label><input type="checkbox" name="c1" value="3" />选择3</label>

<div>
	<input type="checkbox" class="checkboxCtrl" group="c1" />全选

	<button type="button" class="checkboxCtrl" group="c1" selectType="invert">反选</button>
</div>


