<a href="dwz1.html" target="ajax" rel="container">email me</a>
<a href="user.do?method=remove" target="AjaxTodo" title="ensure to delete">delete</a>
<a href="../public/dwz/dwz2.html" target="dialog" rel="page2" width="400" height="200">弹出窗口</a>

<button class="close" value="关闭">&times;关闭</button>

<!-- <a href="url" target="navTab" >默认页面</a>

<a href="url" target="navTab" rel="page1" title="自定义标签名" fresh="false">自定义页面</a>

<a href="url" target="navTab" external="true">iframe方式打开</a> -->

