<div class="tabs">

      <div class="tabsHeader">

            <div class="tabsHeaderContent">

                  <ul>

                        <li class="selected"><a href="#"><span>标题1</span></a></li>

                        <li><a href="#"><span>标题2</span></a></li>

                  </ul>

            </div>

      </div>

      <div class="tabsContent" style="height:150px;">

            <div>内容1</div>

            <div>内容2</div>

      </div>

      <div class="tabsFooter">

            <div class="tabsFooterContent"></div>

      </div>

</div>

<div class="accordion" [fillSpace=”xxxKey”]>

      <div class="accordionHeader">

            <h2><span>icon</span>面板1</h2>

      </div>

      <div class="accordionContent" style="height:200px">

            内容1

      </div>

      <div class="accordionHeader">

            <h2><span>icon</span>面板2</h2>

      </div>

      <div class="accordionContent">

            内容2

      </div>

      <div class="accordionHeader">

            <h2><span>icon</span>面板3</h2>

      </div>

      <div class="accordionContent">

            内容3

      </div>

</div>



