
<style type="text/css">
      .list{
            margin:10px;
      }
</style>

<div layoutH="120">
      <table class="list" width="98%">
            <thead>
                  <tr>
                        <th colspan="2">客户信息</th>
                        <th colspan="2">基本信息</th>
                        <th colspan="3">资料信息</th>
                  </tr>
                  <tr>
                        <th width="80">客户号</th>
                        <th width="100">客户名称</th>
                        <th width="100">客户划分</th>
                        <th>证件号码</th>
                        <th align="right" width="100">信用等级</th>
                        <th width="100">企业性质</th>
                        <th width="100">建档日期</th>
                  </tr>
            </thead>

            <tbody>
                  <tr>
                        <td>iso127309</td>
                        <td>北京市政府咿呀哟</td>
                        <td>政府单位</td>
                        <td>0-0001027766351528</td>
                        <td>四等级</td>
                        <td>政府单位</td>
                        <td>2009-05-21</td>
                  </tr>

                  <tr>
                        <td>iso127309</td>
                        <td>北京市政府咿呀哟</td>
                        <td>政府单位</td>
                        <td>0-0001027766351528</td>
                        <td>四等级</td>
                        <td>政府单位</td>
                        <td>2009-05-21</td>
                  </tr>

                  <tr>
                        <td>iso127309</td>
                        <td>北京市政府咿呀哟</td>
                        <td>政府单位</td>
                        <td>0-0001027766351528</td>
                        <td>四等级</td>
                        <td>政府单位</td>
                        <td>2009-05-21</td>
                  </tr>

                  <tr>
                        <td>iso127309</td>
                        <td>北京市政府咿呀哟</td>
                        <td>政府单位</td>
                        <td>0-0001027766351528</td>
                        <td>四等级</td>
                        <td>政府单位</td>
                        <td>2009-05-21</td>
                  </tr>

                  <tr>
                        <td>iso127309</td>
                        <td>北京市政府咿呀哟</td>
                        <td>政府单位</td>
                        <td>0-0001027766351528</td>
                        <td>四等级</td>
                        <td>政府单位</td>
                        <td>2009-05-21</td>
                  </tr>

                  <tr>
                        <td>iso127309</td>
                        <td>北京市政府咿呀哟</td>
                        <td>政府单位</td>
                        <td>0-0001027766351528</td>
                        <td>四等级</td>
                        <td>政府单位</td>
                        <td>2009-05-21</td>
                  </tr>

                  <tr>
                        <td>iso127309</td>
                        <td>北京市政府咿呀哟</td>
                        <td>政府单位</td>
                        <td>0-0001027766351528</td>
                        <td>四等级</td>
                        <td>政府单位</td>
                        <td>2009-05-21</td>
                  </tr>
            </tbody>
      </table>
</div>

