<table layoutH="170" class="table">
      <thead>
            <tr>
                  <th width="80">客户号</th>
                  <th width="100">客户名称</th>
                  <th align="right">证件号码</th>
                  <th width="100">建档日期</th>
            </tr>
      </thead>
      <tbody>
            <tr>
                  <td>iso127309</td>
                  <td>北京市政府</td>
                  <td>0-0001027766351528</td>
                  <td>2009-05-21</td>
            </tr>

            <tr>
                  <td>iso127309</td>
                  <td>北京市政府</td>
                  <td>0-0001027766351528</td>
                  <td>2009-05-21</td>
            </tr>

            <tr>
                  <td>iso127309</td>
                  <td>北京市政府</td>
                  <td>0-0001027766351528</td>
                  <td>2009-05-21</td>
            </tr>

            <tr>
                  <td>iso127309</td>
                  <td>北京市政府</td>
                  <td>0-0001027766351528</td>
                  <td>2009-05-21</td>
            </tr>

            <tr>
                  <td>iso127309</td>
                  <td>北京市政府</td>
                  <td>0-0001027766351528</td>
                  <td>2009-05-21</td>
            </tr>

            <tr>
                  <td>iso127309</td>
                  <td>北京市政府</td>
                  <td>0-0001027766351528</td>
                  <td>2009-05-21</td>
            </tr>
      </tbody>
</table>

